body {
	margin: 0;
} 

.containerOne {
	height: 640px;
	background-color: #4056A1;
	width: 100vw;
	height: 100vh;
	padding-top: 100px;
}

.animationDiv {
	/* text-align: center; */
	height: 200px;
}

#typedtext {
	line-height: 1.5;
	font-family: 'Indie Flower', cursive; 
	font-size: 28px; 
	margin: 60px 320px 10px 300px; 
	letter-spacing: 6px;
	color: #C5CBE3; 
}

.buttonDiv {
	text-align: center;
	padding: 20px;
}

button {
	padding: 17px;
	margin-top: 60px;
	border-radius: 40px;
	font-size: 17px;
	background-color: #C5CBE3;
	color: #34403F;
	font-family: 'Do Hyeon', sans-serif;
	border: 2px solid #222E57;
	box-shadow: -4px 5px rgba(0, 0, 0, 0.23);
}

.myProjects {
	margin-left: 7vw;
	margin-top: 6vh;
}

button:hover {
	background-color: #B8AFAF;
}

.projectList {
	margin-top: 12vh;
	list-style-type: none;
	margin-left: 30px;
}

button:active {
  background-color: #76C8E5;
  box-shadow: -2px 7px 3px rgba(0, 0, 0, 0.15);
  transform: translateY(4px);
}

button:focus {
    border: none;
    outline: none;
}

.containerTwo {
	margin: 0 auto;
	font-family: 'Tajawal', sans-serif;
	font-size: 15px;
	height: 100vh;
	background: #88BDBC;
	padding: 5px;
	width: 100vw;
	color: #254E58;
	font-family: 'Rubik', sans-serif;
}

.project:hover {
	-ms-transform: scale(1.5); /* IE 9 */
	-webkit-transform: scale(1.5); /* Safari 3-8 */
	transform: scale(1.5); 
}

.arrow {
	box-sizing: border-box;
	height: 3vw;
	width: 3vw;
	border-style: solid;
	border-color: #254E58;
	border-width: 0px 1px 1px 0px;
	transform: rotate(45deg);
	transition: border-width 150ms ease-in-out;
	margin: 0 auto;
	vertical-align: baseline;
	margin-top: 15vh;
}

#learn {
	text-align: center;
	font-weight: 300;
}

.projectList li {
	display: inline-block;
	margin-right: 10px;
	margin-left: -20;
}

.browse {
	float: left;
	margin-bottom: 110px;
}

.containerThree {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: #A8D0E6;
	color: #00A382;
	font-size: 30px;
	font-family: 'Abril Fatface', cursive;
}

@media (max-width: 950px) {
    #typedtext {
        margin: 110px 160px 10px 220px;
	}
}

@media (max-width: 829px) {
	#typedtext {
        margin: 110px 120px 10px 180px;
	}
}

@media (max-width: 706px) {
	#typedtext {
		margin: 110px 80px 10px 140px;
	}
}

@media (max-width: 626px) {
	#typedtext {
		margin-left: 60px;
		margin-right: 40px;
	}
}

@media (max-width: 506px) {
	#typedtext {
		margin-left: 20px;
		margin-right: 20px;
	}
	.buttonDiv {
        margin-top: 30px;
	}
}

@media (max-width: 446px) {
	#typedtext {
		margin-left: 5px;
		margin-right: 5px;
	}
}

@media only screen 
  and (max-width: 320px) 
  and (-webkit-min-device-pixel-ratio: 2) {
	.buttonDiv {
        margin-top: 80px;
	}
	button {
		font-size: 20px;
		padding: 15px;
	}
	#typedtext {
		margin-top: 50px;
		font-size: 20px;
		margin-right: 15px;
		margin-left: 45px;
	}
  }