body {
	margin: 0;
} 

.containerOne {
	height: 640px;
	background-color: #4056A1;
	width: 100vw;
	height: 100vh;
	padding-top: 10px;
	padding-left: 10px;
}

#navbar {
	overflow: hidden;
	width: 96px;
	height: 89px;
	border: 5px solid #9738FF;
}
  
#navbar a {
	float: left;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.animationDiv {
	/* text-align: center; */
	height: 200px;
}

#typedtext {
	line-height: 1.5;
	font-family: 'Indie Flower', cursive; 
	font-size: 28px; 
	margin: 60px 320px 10px 300px; 
	letter-spacing: 6px;
	color: #C5CBE3; 
}

.buttonDiv {
	text-align: center;
	padding: 20px;
}

button {
	padding: 17px;
	margin-top: 60px;
	border-radius: 40px;
	font-size: 17px;
	background-color: #C5CBE3;
	color: #34403F;
	font-family: 'Do Hyeon', sans-serif;
	border: 2px solid #222E57;
	box-shadow: -4px 5px rgba(0, 0, 0, 0.23);
}

#myProjects {
	margin-left: 7vw;
	margin-top: 6vh;
}

button:hover {
	background-color: #B8AFAF;
}

.projectList {
	margin-top: 12vh;
	list-style-type: none;
	margin-left: 30px;
}

.blah {
	display: none;
	width: 300px;
}

.blahblah {
	display: none;
	width: 300px;
}

.blahblahblah {
	display: none;
	width: 300px;
}

.test:hover + .blah {
	display: flex;
	float: right;
	margin-left: 40px;
	line-height: 1.6;
	margin-top: 5vh;
}

.secondTest:hover + .blahblah {
	display: flex;
	float: right;
	margin-left: 40px;
	line-height: 1.5;
	margin-top: 5vh;
}

.thirdTest:hover + .blahblahblah {
	display: flex;
	float: left;
	margin-left: 40px;
	line-height: 1.2;
	margin-bottom: 100vh;
	padding-bottom: 50vh;
	margin-left: 35vh;
}

button:active {
  background-color: #76C8E5;
  box-shadow: -2px 7px 3px rgba(0, 0, 0, 0.15);
  transform: translateY(4px);
}

button:focus {
    border: none;
    outline: none;
}

.containerTwo {
	margin: 0 auto;
	font-family: 'Tajawal', sans-serif;
	font-size: 15px;
	height: 100vh;
	background: #C5CBE3;
	padding: 5px;
	width: 100vw;
	color: #4056A1;
	font-family: 'Rubik', sans-serif;
}

#project1 img {
	height: 280px;
	width: 280px;
}

#project3 img {
	height: 280px;
	width: 280px;
}

#project1:hover {
	-ms-transform: scale(1.5); /* IE 9 */
	-webkit-transform: scale(1.5); /* Safari 3-8 */
	transform: scale(1.5);
	margin-left: 150px;
	padding-left: 100px;
}

#project1 img:hover {
	margin-top: 6vh;
}

#project2 img {
	height: 280px;
	width: 280px;
}

#project2 img:hover {
	margin-top: 6vh;
}

#project3 img:hover {
	margin-left: 6vh;
}

#project2:hover {
	-ms-transform: scale(1.5); /* IE 9 */
	-webkit-transform: scale(1.5); /* Safari 3-8 */
	transform: scale(1.5); 
}

#project3:hover {
	-ms-transform: scale(1.5); /* IE 9 */
	-webkit-transform: scale(1.5); /* Safari 3-8 */
	transform: scale(1.5);
}

.arrow {
	box-sizing: border-box;
	height: 3vw;
	width: 3vw;
	border-style: solid;
	border-color: #254E58;
	border-width: 0px 1px 1px 0px;
	transform: rotate(45deg);
	transition: border-width 150ms ease-in-out;
	margin: 0 auto;
	vertical-align: baseline;
	margin-top: 15vh;
}

#learn {
	text-align: center;
	font-weight: 300;
	color: #4056A1;
}

.links {
	margin-top: 10px;
}

.secondTest {
	margin-bottom: 50px;
}

#eliminateUnderline {
	text-decoration: none;
}

.projectList li {
	display: inline-block;
	margin-right: 10px;
	margin-left: -20;
}

.linkList {
	list-style-type: none;
	width: 665vw;
}

.browse {
	float: left;
	margin-bottom: 110px;
}

.linkList li {
	display: inline-block;
	padding: 0 7vw;
}

.linkList #hangmanLinks {
	padding: 0 6vw 0 8vw;
}

.linkList li a {
	text-decoration: none;
	color: #4056A1;
}

.containerThree {
	height: 78vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: #4056A1;
	color: #C5CBE3;
	font-size: 20px;
	font-family: 'Abril Fatface', cursive;
	padding-right: 15px;
}

.containerThree a {
	color: #C5CBE3;
	text-decoration: none;
}

.copyright {
	font-size: 15px;
	margin-right: 70vw;
}

#secondInvisibleP:focus {
	border: none;
	outline: none;
}

#project1:hover {
	-ms-transform: scale(1.5); /* IE 9 */
	-webkit-transform: scale(1.5); /* Safari 3-8 */
	transform: scale(1.5);
	margin-left: 80px;
}

@media (max-width: 1150px) {
	#moreComing {
		display: none;
	}
}

@media (max-width: 950px) {
    #typedtext {
        margin: 110px 160px 10px 220px;
	}
	#project1 img {
		width: 220px;
		height: 220px;
	}

	#project2 img {
		width: 220px;
		height: 220px;
	}

	#project3 img {
		width: 220px;
		height: 220px;
	}

	.projectList li {
		margin-right: 20px;
		margin-left: -40;
		margin-top: 12vh;
	}

	.test:hover + .blah {
		display: flex;
		float: right;
		margin-left: 10px;
		line-height: 1.2;
	}
}

@media (max-width: 829px) {
	#typedtext {
        margin: 110px 120px 10px 180px;
	}

	.projectList li {
		margin-right: 10px;
		margin-left: -20;
		margin-top: 12vh;
	}

	.projectList {
		margin-top: 12vh;
		list-style-type: none;
		margin-left: 0;
	}

	#project1:hover {
		-ms-transform: scale(1.2); /* IE 9 */
		-webkit-transform: scale(1.2); /* Safari 3-8 */
		transform: scale(1.2);
		margin-left: 40px;
	}

	.test:hover + .blah {
		margin-left: 30px;
		line-height: 1.2;
	}
	
}

@media (max-width: 740px) {
	.projectList {
		padding-left: 10px;
	}
}

@media (max-width: 708px) {
	#typedtext {
		margin: 110px 80px 10px 140px;
	}

	#project1 img {
		width: 180px;
		height: 180px;
	}

	#project2 img {
		width: 180px;
		height: 180px;
	}

	#project3 img {
		width: 180px;
		height: 180px;
	}
}

@media (max-width: 626px) {
	#typedtext {
		margin-left: 60px;
		margin-right: 40px;
	}

	.test:hover + .blah {
		margin-left: 10px;
		line-height: 1.2;
	}

	.projectList {
		padding-left: 0;
	}

	.copyright {
		margin-left: 5vw;
	}
}

@media (max-width: 580px) {
	.projectList li {
		display: block;
		text-align: center;
		margin-top: 2vh;
	}

	#myProjects {
		font-size: 15px;
		margin-left: 3vw;
		margin-top: 2vh;
	}

	.projectList {
		margin-top: 2vh;
	}

	.test:hover + .blah {
		float: none;
		padding-top: 4vh;
		margin: 0 auto;
		line-height: 1.4;
	}

	#project1:hover {
		margin-top: 6vh;
	}

	.copyright {
		margin-left: 5vw;
	}
}

@media (max-width: 506px) {
	#typedtext {
		margin-left: 20px;
		margin-right: 20px;
	}
	.buttonDiv {
        margin-top: 30px;
	}

	.copyright {
		margin-left: 3vw;
		margin-right: 50vw;
	}

	.arrow {
		margin-top: 20vh;
		border-color: #4056A1;
	}
}

@media (max-width: 446px) {
	#typedtext {
		margin-left: 10px;
		margin-right: 5px;
	}

	.copyright {
		margin-left: 5vw;
	}
}

@media only screen 
  and (max-width: 320px) 
  and (-webkit-min-device-pixel-ratio: 2) {
	.buttonDiv {
        margin-top: 40px;
	}
	button {
		font-size: 20px;
		padding: 15px;
	}
	#typedtext {
		margin-top: 50px;
		font-size: 20px;
		margin-right: 15px;
		margin-left: 45px;
	}
	.containerThree {
		padding-right: 20px;
	}
	.test:hover + .blah {
		width: 100%;
		line-height: 1.2;
		margin-right: 20px;
		padding-right: -20px;
		text-align: center;
	}

	#project1:hover {
		margin: 2px 22px;
	}

	.copyright {
		padding-left: 4vw; 
		font-size: 12px;
	}
	#project1 img {
		width: 160px;
		height: 160px;
	}

	#project2 img {
		width: 160px;
		height: 160px;
	}

	#project3 img {
		width: 160px;
		height: 160px;
	}

	.projectList {
		margin-top: 0 !important;
	}
  }

  @media only screen and (min-width: 321px) 
  and (max-width: 480px) 
  and (-webkit-min-device-pixel-ratio: 2) {
	/* comes into effect for screens between 321 and 480 pixels (inclusive) */
	.buttonDiv {
        margin-top: 80px;
	}
	button {
		font-size: 20px;
		padding: 15px;
	}
	#typedtext {
		margin-top: 50px;
		font-size: 20px;
		margin-right: 15px;
		margin-left: 45px;
	}
	.test:hover + .blah {
		padding-right: 4vh;
	}
	}
	.containerOne {
		padding-right: 10px;
	}
	.containerTwo {
		padding-right: 15px;
	}
	.containerThree {
		padding-right: 20px;
	}

	.projectList {
		margin-top: 2vh;
	}

	#myProjects {
		text-align: center;
		margin-left: 0;
	}

	.copyright {
		padding-left: 4vw; 
		font-size: 12px;
	}
  }
  @media screen and (min-width: 481px)
  and (max-width: 767px) 
  and (-webkit-min-device-pixel-ratio: 2) {
	/* comes into effect for screens larger than or equal to 481 pixels */
	/* #learn {
		visibility: visible;
	}

	.arrow {
		visibility: visible;
	} */
	.buttonDiv {
        margin-top: 80px;
	}
	.containerOne {
		width: 100vw;
	}
	.containerTwo {
		width: 100vw;
	}
	.containerThree {
		width: 100%;
	}
	#three {
		width: 100%;
	}
	button {
		font-size: 20px;
		padding: 15px;
	}
	#typedtext {
		margin-top: 50px;
		font-size: 20px;
		margin-right: 15px;
		margin-left: 45px;
	}
	.copyright {
		padding-left: 4vw; 
		font-size: 12px;
	}
  }

  @media screen and (min-width: 768px) 
  and (max-width: 1023px)
  and (-webkit-min-device-pixel-ratio: 2) {
	/* comes into effect for screens larger than or equal to 481 pixels */
	.buttonDiv {
        margin-top: 100px;
	}
	/* button {
		font-size: 25px;
		padding: 25px;
	} */
	#typedtext {
		margin-top: 150px;
		font-size: 32px;
		margin-right: 200px;
		margin-left: 65px;
	}

	#myProjects {
		margin-top: 15vh;
		font-size: 25px;
	}
	.containerThree {
		padding-right: 20px;
	}
	.projectList {
		margin-top: 10vh;
	}

	#project1:hover {
		-ms-transform: scale(1.3); /* IE 9 */
		-webkit-transform: scale(1.3); /* Safari 3-8 */
		transform: scale(1.3);
		margin-left: 60px;
	}

	.test:hover + .blah {
		margin-left: 20px;
	}
	.copyright {
		padding-left: 4vw; 
		font-size: 12px;
	}
	/* #learn {
		visibility: visible;
	}

	.arrow {
		visibility: visible;
	} */
  }

  @media screen and (min-width: 1024px)
  and (max-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
	/* comes into effect for screens larger than or equal to 481 pixels */
	.buttonDiv {
        margin-top: 100px;
	}
	button {
		font-size: 30px;
		padding: 25px;
	}
	#typedtext {
		margin-top: 150px;
		font-size: 40px;
		margin-right: 200px;
		margin-left: 65px;
	}
	.copyright {
		padding-left: 4vw; 
		font-size: 13px;
	}
	/* #learn {
		visibility: visible;
	}

	.arrow {
		visibility: visible;
	} */
	.projectList {
		margin-top: 15vh;
	}
	#myProjects {
		margin-top: 10vh;
	}
	#project1:hover {
		margin-left: 110px;
	}

	.test:hover + .blah {
		margin-left: 25px;
	}
  }  
