body {
	margin: 0;
} 
.containerOne {
	height: 640px;
	background-color: #4056A1;
	width: 100vw;
	height: 100vh;
	padding-top: 10px;
	padding-left: 10px;
}
.projectList {
	padding-left: 0 !important;
}
#navbar {
	overflow: hidden;
	width: 96px;
	height: 89px;
	border: 5px solid #9738FF;
} 
#navbar a {
	float: left;
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}
.animationDiv {
	height: 200px;
}
#typedtext {
	line-height: 1.5;
	font-family: 'Indie Flower', cursive; 
	font-size: 28px; 
	margin: 60px 320px 10px 300px; 
	letter-spacing: 6px;
	color: #C5CBE3; 
}
.buttonDiv {
	text-align: center;
	padding: 20px;
}
button {
	padding: 17px;
	margin-top: 60px;
	border-radius: 40px;
	font-size: 17px;
	background-color: #C5CBE3;
	color: #34403F;
	font-family: 'Do Hyeon', sans-serif;
	border: 2px solid #222E57;
	-webkit-box-shadow: -4px 5px rgba(0, 0, 0, 0.23);
	        box-shadow: -4px 5px rgba(0, 0, 0, 0.23);
}
#myProjects {
	margin-left: 7vw;
	margin-top: 6vh;
	font-weight: 400;
	margin-bottom: 50px;
}
button:hover {
	background-color: #B8AFAF;
}
.projectList {
	margin-top: 5vh;
	list-style-type: none;
	margin-left: 30px;
	margin-bottom: 15px;
}

button:active {
  -webkit-box-shadow: -2px 7px 3px rgba(0, 0, 0, 0.15);
          box-shadow: -2px 7px 3px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(4px);
      -ms-transform: translateY(4px);
          transform: translateY(4px);
}
button:focus {
    border: none;
    outline: none;
}
#project1 {
	width: 280px;
}
summary {
	outline: none;
}
.italics {
	font-style: italic;
}
details {
	color: black;
	line-height: 1.4;
}
details:hover {
	color: black;
}
.details {
	font-weight: 700;
}
@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-1.25em);
		        transform: translateY(-1.25em);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
}
@keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-1.25em);
		        transform: translateY(-1.25em);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
}
details[open] .content {
	-webkit-animation-name: fadeInDown;
	        animation-name: fadeInDown;
  	-webkit-animation-duration: 0.7s;
  	        animation-duration: 0.7s;
}
div .projectList {
	overflow: auto;
	white-space: nowrap !important;
	padding-bottom: 15px;
}
.containerTwo {
	margin: 0 auto;
	font-family: 'Tajawal', sans-serif;
	font-size: 15px;
	min-height: 80vh;
	background: #C5CBE3;
	padding: 5px 5px 5px 5px;
	width: 100vw;
	color: #4056A1;
	font-family: 'Rubik', sans-serif;
}
#expansion {
	width: 100%;
	height: 25vh;
	background: #C5CBE3;
	display: none;
}
#project1 img {
	height: 280px;
	width: 280px;
}
#project3 img {
	height: 280px;
	width: 280px;
}
#project4 img {
	height: 280px;
	width: 280px;
}
#project5 img {
	height: 350px;
	width: 150x;
	margin-left: 50px;
}
#project5 details {
	margin-left: 40px;
}
#project5 .content {
	margin-left: -45px;
}
#project2 img {
	height: 280px;
	width: 280px;
}
.responsiveName {
	display: none;
}
#eliminateUnderline {
	text-decoration: none;
}
.projectList li {
	display: inline-block;
	margin-right: 30px;
	margin-left: -20;
	width: 280px;
	vertical-align: top;
}
.link a {
	text-decoration: none;
	color: #4056A1; 
	font-size: 15px;
}
.link {
	text-align: center;
	font-weight: 400;
}
.containerThree {
	height: 78vh;
	width: 100vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: #4056A1;
	color: #C5CBE3;
	font-size: 20px;
	font-family: 'Abril Fatface', cursive;
	padding-right: 10px;
}
.containerThree a {
	color: #C5CBE3;
	text-decoration: none;
}
.copyright {
	font-size: 15px;
	margin-right: 70vw;
}
#secondInvisibleP:focus {
	border: none;
	outline: none;
} 
.project {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
@media (max-width: 955px) {
    #typedtext {
        margin: 110px 160px 10px 220px;
	}
	ul .projectList {
		margin-top: 0vh !important;
		vertical-align: top;
	}
	.projectList li {
		margin-right: 20px;
		margin-left: -40;
	}
	#invisibleP {
		margin-top: 0;
		margin-bottom: 0;
	}
	#myProjects {
		margin-top: 12px;
	}
}
@media (max-width: 829px) {
	#typedtext {
        margin: 110px 120px 10px 180px;
	}
	.projectList li {
		margin-right: 10px;
		margin-left: -20;
	}
	.projectList {
		margin-top: 12vh;
		list-style-type: none;
		margin-left: 0;
	}
	ul .projectList {
		margin-top: 0vh !important;
		vertical-align: top;
	}
	#invisibleP {
		margin-top: 0;
		margin-bottom: 0;
	}
	#myProjects {
		margin-top: 12px;
	}
}
@media (max-width: 740px) {
	.projectList {
		padding-left: 10px;
	}
}
@media (max-width: 708px) {
	#typedtext {
		margin: 110px 80px 10px 140px;
	}
}
@media (max-width: 687px) {
	.projectList {
		margin-left: 4vw;
	}
}
@media (max-width: 626px) {
	#typedtext {
		margin-left: 60px;
		margin-right: 40px;
	}
	.projectList {
		padding-left: 0;
	}
	.copyright {
		margin-left: 5vw;
	}
}
@media (max-width: 613px) {
	.projectList li img {
		display: none;
	}
	.responsiveName {
		display: block;
		font-size: 25px;
		text-align: center;
		font-weight: 400;
	}
	.project {
		padding-bottom: 10px !important;
	}
	details {
		display: none;
	}
	.projectList li {
		display: block;
		padding: 0 3vw;
		margin: 0 auto;
	}
	#myProjects {
		font-size: 20px;
	}
}
@media (max-width: 580px) {
	#hangmanLinks {
		margin-left: 7vw;
	}
	#websiteLinks {
		margin-left: 3vw;
	}
	#fitnessFriendsLinks {
		margin-left: 8vw;
	}
	#doggyDateLinks {
		margin-left: 8vw;
	}
	#ASOIAFLinks {
		margin-left: 1vw;
	}
	.responsiveName {
		margin-top: 0;
		margin-bottom: 0;
		font-size: 21px;
	}
	.projectList {
		margin-left: 2vw;
		margin-top: 2vh;
		font-size: 25px;
	}
	#myProjects {
		font-size: 25px;
		margin-left: 3vw;
		margin-top: 2vh;
	}
	.copyright {
		margin-left: 5vw;
	}
	.link a {
		text-align: center;
	}
}
@media (max-width: 506px) {
	#typedtext {
		margin-left: 20px;
		margin-right: 20px;
	}
	.buttonDiv {
        margin-top: 30px;
	}
	.copyright {
		margin-left: 3vw;
		margin-right: 50vw;
	}
}
@media (max-width: 482px) {
	.project {
		padding-bottom: 2px !important;
	}
	.responsiveName {
		margin-top: 0;
		margin-bottom: 0;
	}
	.link {
		margin-top: 2vh;
	}
	#hangman {
		margin-top: 5vh;
	}
	#hangmanLinks {
		margin-left: 7vw;
	}
	#websiteLinks {
		margin-left: 3vw;
	}
	#fitnessFriendsLinks {
		margin-left: 8vw;
	}
	#doggyDateLinks {
		margin-left: 8vw;
	}
}
@media (max-width: 446px) {
	#typedtext {
		margin-left: 10px;
		margin-right: 5px;
	}
	.copyright {
		margin-left: 5vw;
	}
}
@media only screen 
  and (max-width: 320px) 
  and (-webkit-min-device-pixel-ratio: 2) {
	.buttonDiv {
        margin-top: 40px;
	}
	button {
		font-size: 20px;
		padding: 15px;
	}
	#typedtext {
		margin-top: 50px;
		font-size: 20px;
		margin-right: 15px;
		margin-left: 45px;
	}
	.copyright {
		padding-left: 4vw; 
		font-size: 12px;
	}
	.projectList {
		margin-top: 0 !important;
	}
  } 
  @media only screen and (min-width: 321px) 
  and (max-width: 480px)   
  and (-webkit-min-device-pixel-ratio: 2) {
	.buttonDiv {
        margin-top: 80px;
	}
	button {
		font-size: 20px;
		padding: 15px;
	}
	#typedtext {
		margin-top: 50px;
		font-size: 20px;
		margin-right: 15px;
		margin-left: 45px;
	}
	.containerOne {
		padding-top: 20px;
	}
	.containerTwo {
		min-height: 100vh;
		padding-top: 5px
	}
	.projectList {
		margin-top: 2vh;
	}
	#myProjects {
		text-align: center;
		margin-left: 0;
	}
	.copyright {
		padding-left: 4vw; 
		font-size: 12px;
	}
  }
  @media screen and (min-width: 481px)
  and (max-width: 767px) 
  and (-webkit-min-device-pixel-ratio: 2) {
	.buttonDiv {
        margin-top: 80px;
	}
	.containerOne {
		width: 100vw;
	}
	.containerTwo {
		width: 100vw;
	}
	.containerThree {
		width: 100%;
	}
	#three {
		width: 100%;
	}
	button {
		font-size: 20px;
		padding: 15px;
	}
	#typedtext {
		margin-top: 50px;
		font-size: 20px;
		margin-right: 15px;
		margin-left: 45px;
	}
	.copyright {
		padding-left: 4vw; 
		font-size: 12px;
	}
  }
  @media screen and (min-width: 768px) 
  and (max-width: 1023px)
  and (-webkit-min-device-pixel-ratio: 2) {
	.buttonDiv {
        margin-top: 100px;
	}
	#typedtext {
		margin-top: 150px;
		margin-right: 200px;
		margin-left: 65px;
	}
	#myProjects {
		margin-top: 3vh;
		font-size: 25px;
	}
	.projectList {
		margin-top: 10vh;
	}
	.copyright {
		padding-left: 4vw; 
		font-size: 12px;
	}
	.button {
		color: #34403F;
	}
	button:hover {
		background-color: #B8AFAF;
	}  
  }
  @media screen and (min-width: 1024px)
  and (max-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
	.buttonDiv {
        margin-top: 100px;
	}
	button {
		font-size: 30px;
		padding: 25px;
	}
	#typedtext {
		margin-top: 150px;
		font-size: 40px;
		margin-right: 200px;
		margin-left: 65px;
	}
	.copyright {
		padding-left: 4vw; 
		font-size: 13px;
	}
	.projectList {
		margin-top: 15vh;
	}
	#myProjects {
		margin-top: 10vh;
	}
  }    
